/* @import url('https://fonts.googleapis.com/css2?family=open+sans'); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "open sans", sans-serif;
  color: #222;
  padding-bottom: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  position: fixed;
  background-color: #835d90a8;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

nav .container {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}
nav ul {
  display: flex;
  font-size: 18px;
  margin-right: 20px;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

nav a {
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
}

nav.active a {
  color: #000;
}

nav.active .container {
  color: #7b5485;
  padding: 10px 0;
}

nav a.current,
nav a:hover {
  color: #c0392b;
  font-weight: bold;
}

.logo:hover,
li:hover {
  cursor: pointer;
}
.hero {
  /* background: radial-gradient(circle, #375f24, #3c7ac1); */

  background-image: url("images/bk-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 10px 0;
}

.content p {
  color: #555;
  letter-spacing: 1.2px;
  line-height: 30px;
}
@media (max-width: 800px) {
  nav.active {
    background-color: transparent;
    box-shadow: none;
  }
  nav {
    transition: none;
  }
  .nav li {
    color: white;
  }

  nav a,
  nav .container {
    transition: none;
  }
}
@media (max-width: 550px) {
  .nav {
    display: none;
  }
  nav {
    background-color: transparent;
  }
  .logo {
    display: none;
  }
  #menu {
    /* background-color: #fff; */
    block-size: 30px;
    inline-size: 35px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }
  .change-ul {
    /* background-color: transparent; */
    display: block;
  }

  .bar-lines {
    block-size: 5px;
    inline-size: 100%;
    background-color: white;
    display: block;
    border-radius: 2px;
    outline: none;
  }
  /* To MAke bars up little bit */

  #bar1 {
    transform: translateY(-4px);
  }

  #bar3 {
    transform: translateY(4px);
  }

  /* Now time for bars cross when we click */

  .change .bar-lines {
    background-color: #fff;
  }

  /* Rotate Bar 1 & 3 ,make bar 2 go vanish */
  .change {
    outline: none;
  }
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  .change #bar2 {
    opacity: 0;
    outline: none;
  }
  .change #bar3 {
    transform: translateY(-6px) rotate(45deg);
  }

  /* now navigation on click - default */

  .nav {
    /* display: none; */
    padding: 0;
    margin: 73px 65px;
    transition: 0.22s ease;
  }
  .nav li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
  }
  .nav li {
    list-style: none;
    padding: 16px 0;
  }
  .nav li a:hover {
    font-weight: bold;
  }
  .new-nav {
    display: block;
  }

  /* time for circle background  */

  .menu-bkg {
    z-index: 1;
    inline-size: 0;
    block-size: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #f7e568fc, #c1b93c);
    border-radius: 50%;
    transition: 0.33s ease;
  }
  .menu-bkg,
  .menu-bar {
    top: 0;
    left: 0;
    position: fixed;
  }
  .menu-bar {
    /*  used z-index because we want background to appear from behind obv; */
    z-index: 2;
  }
  .menu-bkg-change {
    inline-size: 600px;
    block-size: 722px;
    transform: translate(-49%, -33%);
    margin: 73px 0 0 14px;
  }
}
